<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Steam Clone</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>
 
 <body>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Steam Clone</h2>
         <div class="mt-4 mb-4">
          <button class="btn btn-info mr-2">Special Query 1</button>
          <button class="btn btn-warning">Special Query 2</button>
         </div>
         <form action="mark" method="POST">
           <div class="form-group">
             <label for="netid">Search</label>
             <input type="text" class="form-control col-lg-9" id="netid" placeholder="search for games..." name="netid">
           </div>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
      </div>
    </div>
   </div>
 </body>
</html>
